<<<<<<< HEAD
// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";
body h1 {
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 70px;
}
#search_form #cuisine {
	text-align: left;
	vertical-align: top;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: normal;
	max-width: 40%;
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 0px;
	padding-top: 0px;
	float: left;
	display: table;
}

#restaurants {
	text-align: left;
	text-indent: 14px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	text-shadow: 0px 0px;
	vertical-align: baseline;
	border-style: solid;
	border-color: #595959;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 72px;
	margin-bottom: 14px;
	clear: both;
}
tr td a {
	color: #3A3A3A;
}
#search_form #environment {
	max-width: 40%;
	margin-left: 12px;
	margin-right: 12px;
	float: left;
}
#search_form #price_range {
	margin-left: 12px;
	margin-right: 12px;
	float: left;
	max-width: 80%;
}
#search_form #search_submit {
	font-size: medium;
	background-color: #D9D9D9;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	width: 123px;
	margin-top: 14px;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#search_form #environment div {
	margin-bottom: 70px;
	margin-right: 8px;
	display: block;
	float: left;
}
#search_form #cuisines {
	font-size: small;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#search_form #environment span {
}
#search_form #cuisine div {
	float: left;
	display: inherit;
	margin-right: 2px;
}
body {
	background-color: #EBEBEB;
}
#form_container {
	padding-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1080px;
}
=======
table#review {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  text: center;
}
table#review th {
  border: 2px solid white;
  font-weight: bold;
  background-color: brown;
}
table#review th, table#movies td {
  padding: 4px;
  text-align: left;
}
>>>>>>> master
