// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";
table#review {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	border-collapse: collapse;
	text: center;
	min-width: 80%;
	margin-left: 0px;
}
table th  {
	border: 2px solid white;
	font-weight: bold;
	background-color: #B1B1B1;
}
body h1 {
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: xx-large;
}
#search_form #cuisine {
	text-align: left;
	vertical-align: top;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: normal;
	max-width: 40%;
	margin-right: 12px;
	margin-left: 12px;
	margin-top: 0px;
	padding-top: 0px;
	float: left;
	display: table;
}
table {
	text-align: left;
	text-indent: 14px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	text-shadow: 0px 0px;
	vertical-align: baseline;
	border-style: solid;
	border-color: #595959;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 72px;
	margin-bottom: 14px;
	clear: both;
}
a {
	color: #3A3A3A;
}
#search_form #environment {
	max-width: 40%;
	margin-left: 12px;
	margin-right: 12px;
	float: left;
	font-size: medium;
}
#search_form #price_range {
	margin-left: 12px;
	margin-right: 12px;
	float: left;
	max-width: 80%;
	font-size: medium;
}
#search_form #search_submit {
	font-size: medium;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	width: 120px;
	margin-top: 14px;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #B1B1B1;
	height: auto;
}
#search_form #environment div {
	margin-bottom: 70px;
	margin-right: 8px;
	display: block;
	float: left;
}
#search_form #cuisines {
	font-size: medium;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#search_form #cuisine div {
	float: left;
	display: inherit;
	margin-right: 2px;
}
body {
	background-color: #EBEBEB;
	padding-left: 5px;
	padding-right: 5px;
}
#form_container {
	padding-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1080px;
}
#submit_review {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
}
#submit_review input , #submit_review #description{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	text-shadow: 0px 0px;
}
ul#details {
	max-width: 95%;
}
#details_container {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
}
body h2 {
	color: #000000;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-size: x-large;
}
#review_submit_button , #review_reset_button{
	font-size: medium;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	width: 83px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #B1B1B1;
	height: auto;
	color: #000000;
}
#notice {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	color: #D50001;
	margin-top: 20px;
}
