table#review {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  text: center;
}
table#review th {
  border: 2px solid white;
  font-weight: bold;
  background-color: brown;
}
table#review th, table#movies td {
  padding: 4px;
  text-align: left;
}